In [2]:
from IPython.display import HTML, display
import tabulate
import pandas as pd

In [3]:
train = pd.read_csv('bike.csv')
train

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1.0,9.84,14.395,81.0,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1.0,9.02,13.635,80.0,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1.0,9.02,13.635,80.0,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1.0,9.84,14.395,75.0,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1.0,9.84,14.395,75.0,0.0000,0,1,1
5,2011-01-01 05:00:00,1,0,0,2.0,9.84,12.880,75.0,6.0032,0,1,1
6,2011-01-01 06:00:00,1,0,0,1.0,9.02,13.635,80.0,0.0000,2,0,2
7,2011-01-01 07:00:00,1,0,0,1.0,8.20,12.880,86.0,0.0000,1,2,3
8,2011-01-01 08:00:00,1,0,0,1.0,9.84,14.395,75.0,0.0000,1,7,8
9,2011-01-01 09:00:00,1,0,0,1.0,13.12,17.425,76.0,0.0000,8,6,14
10,2011-01-01 10:00:00,1,0,0,1.0,15.58,19.695,76.0,16.9979,12,24,36
11,2011-01-01 11:00:00,1,0,0,1.0,14.76,16.665,81.0,19.0012,26,30,56
12,2011-01-01 12:00:00,1,0,0,1.0,17.22,21.210,77.0,19.0012,29,55,84
13,2011-01-01 13:00:00,1,0,0,2.0,18.86,22.725,72.0,19.9995,47,47,94
14,2011-01-01 14:00:00,1,0,0,2.0,18.86,22.725,72.0,19.0012,35,71,106
15,2011-01-01 15:00:00,1,0,0,2.0,18.04,21.970,77.0,19.9995,40,70,110
16,2011-01-01 16:00:00,1,0,0,2.0,17.22,21.210,82.0,19.9995,41,52,93
17,2011-01-01 17:00:00,1,0,0,2.0,18.04,21.970,82.0,19.0012,15,52,67
18,2011-01-01 18:00:00,1,0,0,3.0,17.22,21.210,88.0,16.9979,9,26,35
19,2011-01-01 19:00:00,1,0,0,3.0,17.22,21.210,88.0,16.9979,6,31,37
20,2011-01-01 20:00:00,1,0,0,2.0,16.40,20.455,87.0,16.9979,11,25,36
21,2011-01-01 21:00:00,1,0,0,2.0,16.40,20.455,87.0,12.9980,3,31,34
22,2011-01-01 22:00:00,1,0,0,2.0,16.40,20.455,94.0,15.0013,11,17,28
23,2011-01-01 23:00:00,1,0,0,2.0,18.86,22.725,88.0,19.9995,15,24,39
24,2011-01-02 00:00:00,1,0,0,2.0,18.86,22.725,88.0,19.9995,4,13,17
25,2011-01-02 01:00:00,1,0,0,2.0,18.04,21.970,94.0,16.9979,1,16,17
26,2011-01-02 02:00:00,1,0,0,2.0,17.22,21.210,100.0,19.0012,1,8,9
27,2011-01-02 03:00:00,1,0,0,2.0,18.86,22.725,94.0,12.9980,2,4,6
28,2011-01-02 04:00:00,1,0,0,2.0,18.86,22.725,94.0,12.9980,2,1,3
29,2011-01-02 06:00:00,1,0,0,3.0,17.22,21.210,77.0,19.9995,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
7775,2012-06-04 18:00:00,2,0,1,1.0,26.24,31.060,38.0,26.0027,103,719,822
7776,2012-06-04 19:00:00,2,0,1,1.0,25.42,31.060,38.0,27.9993,91,554,645
7777,2012-06-04 20:00:00,2,0,1,1.0,24.60,31.060,40.0,23.9994,71,390,461
7778,2012-06-04 21:00:00,2,0,1,1.0,23.78,27.275,49.0,16.9979,40,225,265
7779,2012-06-04 22:00:00,2,0,1,1.0,22.96,26.515,52.0,19.0012,41,127,168
7780,2012-06-04 23:00:00,2,0,1,1.0,23.78,27.275,49.0,19.9995,8,78,86
7781,2012-06-05 00:00:00,2,0,1,1.0,22.14,25.760,68.0,27.9993,6,28,34
7782,2012-06-05 01:00:00,2,0,1,2.0,21.32,25.000,77.0,22.0028,2,18,20
7783,2012-06-05 02:00:00,2,0,1,3.0,21.32,25.000,72.0,19.9995,0,8,8
7784,2012-06-05 03:00:00,2,0,1,3.0,20.50,24.240,82.0,12.9980,0,5,5
7785,2012-06-05 04:00:00,2,0,1,3.0,20.50,24.240,82.0,12.9980,1,4,5
7786,2012-06-05 05:00:00,2,0,1,3.0,19.68,23.485,82.0,11.0014,1,35,36
7787,2012-06-05 06:00:00,2,0,1,1.0,19.68,23.485,82.0,16.9979,7,177,184
7788,2012-06-05 07:00:00,2,0,1,1.0,19.68,23.485,77.0,19.9995,29,540,569
7789,2012-06-05 08:00:00,2,0,1,2.0,19.68,23.485,77.0,15.0013,30,680,710
7790,2012-06-05 09:00:00,2,0,1,2.0,21.32,25.000,72.0,16.9979,50,285,335
7791,2012-06-05 10:00:00,2,0,1,2.0,21.32,25.000,63.0,19.9995,58,118,176
7792,2012-06-05 11:00:00,2,0,1,2.0,22.96,26.515,56.0,12.9980,65,162,227
7793,2012-06-05 12:00:00,2,0,1,2.0,22.14,25.760,56.0,15.0013,45,202,247
7794,2012-06-05 13:00:00,2,0,1,2.0,24.60,31.060,46.0,11.0014,66,201,267
7795,2012-06-05 14:00:00,2,0,1,2.0,23.78,27.275,46.0,11.0014,82,194,276
7796,2012-06-05 15:00:00,2,0,1,2.0,23.78,27.275,46.0,8.9981,54,218,272
7797,2012-06-05 16:00:00,2,0,1,1.0,24.60,31.060,43.0,12.9980,91,382,473
7798,2012-06-05 17:00:00,2,0,1,1.0,24.60,31.060,43.0,0.0000,86,764,850
7799,2012-06-05 18:00:00,2,0,1,1.0,24.60,31.060,43.0,12.9980,111,679,790
7800,2012-06-05 19:00:00,2,0,1,1.0,23.78,27.275,46.0,16.9979,68,445,513
7801,2012-06-05 20:00:00,2,0,1,1.0,22.96,26.515,49.0,15.0013,44,371,415
7802,2012-06-05 21:00:00,2,0,1,1.0,22.14,25.760,56.0,11.0014,30,253,283
7803,2012-06-05 22:00:00,2,0,1,1.0,22.96,26.515,52.0,7.0015,22,171,193
7804,2012-06-05 23:00:00,2,0,1,1.0,22.14,25.760,56.0,6.0032,20,93,113

<h1>Описание данных</h1>

![Прокат велосипедов](https://img2.freepng.ru/20180621/rhc/kisspng-road-cycling-computer-icons-road-bicycle-racing-balancing-5b2c5721eef143.7569132615296325459787.jpg "Прокат велосипедов")

|Variable|Definition|Key         
|:---:|:---:|---: 
|DataTime|дата и время|
|Season|время года| 1 = spring 2 = summer 3 = autumn 4 = winter
|Holiday|выходной день| 0 = No 1 = Yes
|WorkingDay|рабочий день| 0 = No 1 = Yes
|Weather|погода|1 = A   2 = B   3 = C   4 = D
|Temp|температура в Цельсиях|
|Atemp|температура "по ощущениям"|
|Humidity|относительная влажность|
|WindSpeed|скорость ветра|
|Casual|количество инициированных прокатов незарегистрированных пользователей|
|Registered|количество зарегистрированных арендованных пользователей инициировано|
|Count|количество всех арендных плат|

<h3>Обозначения для ключей переменной "Weather"</h3>

|Key|Designation|Definition|
|------|------|------|
|1|A|Clear, Few clouds, Partly cloudy, Partly cloudy
|2|B|Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
|3|C|Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
|4|D|Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog

In [4]:
train.info() # информация по dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7805 entries, 0 to 7804
Data columns (total 12 columns):
datetime      7805 non-null object
season        7805 non-null int64
holiday       7805 non-null int64
workingday    7805 non-null int64
weather       7803 non-null float64
temp          7803 non-null float64
atemp         7802 non-null float64
humidity      7804 non-null float64
windspeed     7804 non-null float64
casual        7805 non-null int64
registered    7805 non-null int64
count         7805 non-null int64
dtypes: float64(5), int64(6), object(1)
memory usage: 731.8+ KB

<h3>Утверждения о данных</h3>

<ol>
 <li>Предположим, что больше всего велосипедов брали весной</li>
 <li>Предположим, что чаще всего люди катались в рабочие дни</li>
 <li>Предположим, что в плохую погоду каталось очень мало людей</li>
</ol>

In [5]:
train.describe() # описательная статистика
# 1) 50% - весна
# 2) Средняя влажность составила 19.888351
# 3) Максимальная скорость ветра составила 56.996900

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,7805.000000,7805.000000,7805.000000,7803.000000,7803.000000,7802.000000,7804.000000,7804.000000,7805.000000,7805.000000,7805.000000
mean,2.182319,0.027546,0.681871,1.419710,19.005967,22.377205,61.239493,13.276312,31.336195,131.398206,162.734401
std,1.088684,0.163680,0.465780,0.642872,7.601849,8.330857,19.888351,8.449740,46.273109,127.076847,155.419640
min,1.000000,0.000000,0.000000,1.000000,0.820000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,0.000000,0.000000,1.000000,13.120000,15.150000,46.000000,7.001500,3.000000,30.000000,35.000000
50%,2.000000,0.000000,1.000000,1.000000,18.860000,22.725000,61.000000,12.998000,13.000000,100.000000,121.000000
75%,3.000000,0.000000,1.000000,2.000000,25.420000,29.545000,77.000000,19.001200,40.000000,189.000000,238.000000
max,4.000000,1.000000,1.000000,4.000000,38.540000,43.940000,100.000000,56.996900,367.000000,770.000000,873.000000

In [7]:
train['temp'].mean() # среднее значение температуры

19.005966935793886

In [8]:
def meanTemp(t):
    return t > 19
train['temp'].map(meanTemp)
train['good_temp'] = train['temp'].map(lambda t: t > 19)
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,good_temp
0,2011-01-01 00:00:00,1,0,0,1.0,9.84,14.395,81.0,0.0,3,13,16,False
1,2011-01-01 01:00:00,1,0,0,1.0,9.02,13.635,80.0,0.0,8,32,40,False
2,2011-01-01 02:00:00,1,0,0,1.0,9.02,13.635,80.0,0.0,5,27,32,False
3,2011-01-01 03:00:00,1,0,0,1.0,9.84,14.395,75.0,0.0,3,10,13,False
4,2011-01-01 04:00:00,1,0,0,1.0,9.84,14.395,75.0,0.0,0,1,1,False

In [9]:
df_season = pd.DataFrame( #новый dataframe, который расшифровывает названия времён года
    [
        [1, 'spring'],
        [2, 'summer'],
        [3, 'autumn'],
        [4, 'winter']
    ],
    columns=['id_season', 'name_season']
)
df_season

   id_season name_season
0          1      spring
1          2      summer
2          3      autumn
3          4      winter

In [10]:
pd.merge( #соединим два dataframe
    train,
    df_season,
    left_on='season',
    right_on='id_season'
)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,good_temp,id_season,name_season
0,2011-01-01 00:00:00,1,0,0,1.0,9.84,14.395,81.0,0.0000,3,13,16,False,1,spring
1,2011-01-01 01:00:00,1,0,0,1.0,9.02,13.635,80.0,0.0000,8,32,40,False,1,spring
2,2011-01-01 02:00:00,1,0,0,1.0,9.02,13.635,80.0,0.0000,5,27,32,False,1,spring
3,2011-01-01 03:00:00,1,0,0,1.0,9.84,14.395,75.0,0.0000,3,10,13,False,1,spring
4,2011-01-01 04:00:00,1,0,0,1.0,9.84,14.395,75.0,0.0000,0,1,1,False,1,spring
5,2011-01-01 05:00:00,1,0,0,2.0,9.84,12.880,75.0,6.0032,0,1,1,False,1,spring
6,2011-01-01 06:00:00,1,0,0,1.0,9.02,13.635,80.0,0.0000,2,0,2,False,1,spring
7,2011-01-01 07:00:00,1,0,0,1.0,8.20,12.880,86.0,0.0000,1,2,3,False,1,spring
8,2011-01-01 08:00:00,1,0,0,1.0,9.84,14.395,75.0,0.0000,1,7,8,False,1,spring
9,2011-01-01 09:00:00,1,0,0,1.0,13.12,17.425,76.0,0.0000,8,6,14,False,1,spring
10,2011-01-01 10:00:00,1,0,0,1.0,15.58,19.695,76.0,16.9979,12,24,36,False,1,spring
11,2011-01-01 11:00:00,1,0,0,1.0,14.76,16.665,81.0,19.0012,26,30,56,False,1,spring
12,2011-01-01 12:00:00,1,0,0,1.0,17.22,21.210,77.0,19.0012,29,55,84,False,1,spring
13,2011-01-01 13:00:00,1,0,0,2.0,18.86,22.725,72.0,19.9995,47,47,94,False,1,spring
14,2011-01-01 14:00:00,1,0,0,2.0,18.86,22.725,72.0,19.0012,35,71,106,False,1,spring
15,2011-01-01 15:00:00,1,0,0,2.0,18.04,21.970,77.0,19.9995,40,70,110,False,1,spring
16,2011-01-01 16:00:00,1,0,0,2.0,17.22,21.210,82.0,19.9995,41,52,93,False,1,spring
17,2011-01-01 17:00:00,1,0,0,2.0,18.04,21.970,82.0,19.0012,15,52,67,False,1,spring
18,2011-01-01 18:00:00,1,0,0,3.0,17.22,21.210,88.0,16.9979,9,26,35,False,1,spring
19,2011-01-01 19:00:00,1,0,0,3.0,17.22,21.210,88.0,16.9979,6,31,37,False,1,spring
20,2011-01-01 20:00:00,1,0,0,2.0,16.40,20.455,87.0,16.9979,11,25,36,False,1,spring
21,2011-01-01 21:00:00,1,0,0,2.0,16.40,20.455,87.0,12.9980,3,31,34,False,1,spring
22,2011-01-01 22:00:00,1,0,0,2.0,16.40,20.455,94.0,15.0013,11,17,28,False,1,spring
23,2011-01-01 23:00:00,1,0,0,2.0,18.86,22.725,88.0,19.9995,15,24,39,False,1,spring
24,2011-01-02 00:00:00,1,0,0,2.0,18.86,22.725,88.0,19.9995,4,13,17,False,1,spring
25,2011-01-02 01:00:00,1,0,0,2.0,18.04,21.970,94.0,16.9979,1,16,17,False,1,spring
26,2011-01-02 02:00:00,1,0,0,2.0,17.22,21.210,100.0,19.0012,1,8,9,False,1,spring
27,2011-01-02 03:00:00,1,0,0,2.0,18.86,22.725,94.0,12.9980,2,4,6,False,1,spring
28,2011-01-02 04:00:00,1,0,0,2.0,18.86,22.725,94.0,12.9980,2,1,3,False,1,spring
29,2011-01-02 06:00:00,1,0,0,3.0,17.22,21.210,77.0,19.9995,0,2,2,False,1,spring
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7775,2011-12-18 18:00:00,4,0,0,1.0,11.48,13.635,45.0,12.9980,15,123,138,False,4,winter
7776,2011-12-18 19:00:00,4,0,0,1.0,10.66,13.635,52.0,8.9981,5,130,135,False,4,winter
7777,2011-12-18 20:00:00,4,0,0,1.0,9.84,12.880,60.0,7.0015,10,94,104,False,4,winter
7778,2011-12-18 21:00:00,4,0,0,1.0,9.02,13.635,64.0,0.0000,9,80,89,False,4,winter
7779,2011-12-18 22:00:00,4,0,0,1.0,9.02,11.365,75.0,12.9980,2,47,49,False,4,winter
7780,2011-12-18 23:00:00,4,0,0,1.0,8.20,11.365,75.0,7.0015,6,31,37,False,4,winter
7781,2011-12-19 00:00:00,4,0,1,1.0,8.20,11.365,75.0,6.0032,3,14,17,False,4,winter
7782,2011-12-19 01:00:00,4,0,1,1.0,7.38,10.605,80.0,6.0032,3,8,11,False,4,winter
7783,2011-12-19 02:00:00,4,0,1,1.0,7.38,10.605,80.0,6.0032,0,3,3,False,4,winter
7784,2011-12-19 03:00:00,4,0,1,1.0,6.56,9.850,86.0,6.0032,0,3,3,False,4,winter
7785,2011-12-19 04:00:00,4,0,1,1.0,6.56,9.090,86.0,8.9981,0,4,4,False,4,winter
7786,2011-12-19 05:00:00,4,0,1,1.0,5.74,8.335,93.0,7.0015,0,21,21,False,4,winter
7787,2011-12-19 06:00:00,4,0,1,1.0,6.56,9.090,86.0,7.0015,0,68,68,False,4,winter
7788,2011-12-19 07:00:00,4,0,1,1.0,7.38,10.605,74.0,7.0015,4,187,191,False,4,winter
7789,2011-12-19 08:00:00,4,0,1,1.0,8.20,9.850,75.0,12.9980,8,389,397,False,4,winter
7790,2011-12-19 09:00:00,4,0,1,1.0,9.02,10.605,69.0,15.0013,17,166,183,False,4,winter
7791,2011-12-19 10:00:00,4,0,1,1.0,9.84,11.365,67.0,12.9980,12,96,108,False,4,winter
7792,2011-12-19 11:00:00,4,0,1,1.0,10.66,12.120,65.0,16.9979,22,105,127,False,4,winter
7793,2011-12-19 12:00:00,4,0,1,1.0,12.30,13.635,61.0,22.0028,13,128,141,False,4,winter
7794,2011-12-19 13:00:00,4,0,1,1.0,13.94,15.150,49.0,22.0028,15,127,142,False,4,winter
7795,2011-12-19 14:00:00,4,0,1,1.0,14.76,17.425,46.0,15.0013,30,107,137,False,4,winter
7796,2011-12-19 15:00:00,4,0,1,1.0,15.58,19.695,46.0,11.0014,24,135,159,False,4,winter
7797,2011-12-19 16:00:00,4,0,1,1.0,16.40,20.455,40.0,16.9979,19,189,208,False,4,winter
7798,2011-12-19 17:00:00,4,0,1,1.0,15.58,19.695,46.0,12.9980,16,362,378,False,4,winter
7799,2011-12-19 18:00:00,4,0,1,1.0,14.76,17.425,50.0,12.9980,11,343,354,False,4,winter
7800,2011-12-19 19:00:00,4,0,1,2.0,14.76,17.425,53.0,11.0014,17,234,251,False,4,winter
7801,2011-12-19 20:00:00,4,0,1,1.0,16.40,20.455,40.0,11.0014,9,197,206,False,4,winter
7802,2011-12-19 21:00:00,4,0,1,2.0,14.76,17.425,53.0,8.9981,15,112,127,False,4,winter
7803,2011-12-19 22:00:00,4,0,1,2.0,14.76,17.425,57.0,11.0014,12,95,107,False,4,winter
7804,2011-12-19 23:00:00,4,0,1,1.0,14.76,17.425,53.0,11.0014,10,50,60,False,4,winter

In [12]:
d = train.pivot_table(
    'datetime', 'season', 'windspeed', 'count')
d

windspeed,0.0,6.0032,7.0015,8.9981,11.0014,12.998,15.0013,16.9979,19.0012,19.9995,...,36.9974,39.0007,40.9973,43.0006,43.9989,46.0022,47.9988,50.0021,51.9987,56.9969
season,,,,,,,,,,,,,,,,,,,,,
1,261.0,193.0,219.0,235.0,228.0,229.0,214.0,190.0,179.0,157.0,...,14.0,12.0,8.0,6.0,8.0,3.0,1.0,1.0,1.0,NaN
2,238.0,164.0,201.0,274.0,196.0,250.0,213.0,210.0,157.0,103.0,...,4.0,8.0,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
3,156.0,118.0,123.0,147.0,165.0,139.0,151.0,105.0,88.0,69.0,...,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0
4,263.0,135.0,133.0,121.0,125.0,114.0,89.0,82.0,80.0,50.0,...,3.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
d.sum(1) # утверждение 1 подтвердилось

season
1    2675.0
2    2397.0
3    1365.0
4    1367.0
dtype: float64

In [14]:
d = train.pivot_table(
    'datetime', 'workingday', 'season', 'count')
d

season         1     2    3    4
workingday
0            851   744  432  456
1           1825  1653  933  911

In [15]:
d.sum(1) # утверждение 2 подтвердилось

workingday
0    2483
1    5322
dtype: int64

In [16]:
d = train.pivot_table(
    'datetime', 'weather', 'season', 'count')
d

season        1       2      3      4
weather
1.0      1758.0  1548.0  959.0  924.0
2.0       709.0   642.0  291.0  312.0
3.0       206.0   207.0  115.0  131.0
4.0         1.0     NaN    NaN    NaN

In [17]:
d.sum(1) # утверждение 3 подтвердилось

weather
1.0    5189.0
2.0    1954.0
3.0     659.0
4.0       1.0
dtype: float64